.venv
.env
credentials.json
*.pyc
*.DS_Store
__pycache__
.pytest_cache/

# player-eval data files
player_evaluation/output/*
draft_and_hold/output/*
player_evaluation/last_fetched.txt
player_evaluation/input_data/lastmonth_stuffplus.csv
player_evaluation/input_data/stuffplus.csv
player_evaluation/input_data/statcast_batters.csv

keeper_analysis.csv